@charset "utf-8";
@import url('./mvp.css');

:root {
  /* MVP.css var overrides */
  --width-content: 640px;
  --color: #0c8cfe; /* --blue */
  --color-accent: #0c8cfe; /* --blue */
  --color-bg: #060b1b; /* --base00 */
  --color-bg-secondary: rgb(55, 57, 61); /* --base03 */
  --color-text: rgb(183, 189, 203); /* --base06 */
  --color-text-secondary: rgb(110, 114, 123); /* --base04 */
  --color-secondary: #eb6a2c; /* --base12 */
  --color-secondary-accent: #eb6a2c; /* --base12 */

  /* Custom vars */
  --color-fg: rgb(152, 152, 157); /* --base05 */
  --color-fg-light: rgb(248, 248, 240); /* --base07 */
  --color-fg-dark: rgb(110, 114, 123); /* --base04 */
  --color-fg-dark-alt: rgb(55, 57, 61); /* --base03 */
  --color-fg-vibrant: #e532ad; /* Keywords */
}

@supports (color: color(display-p3 1 1 1 / 1)) {
  :root {
    /* MVP.css var overrides */
    --color: color(display-p3 0.05 0.55 1 / 1); /* --blue */
    --color-accent: color(display-p3 0.05 0.55 1 / 1); /* --blue */
    --color-bg: color(display-p3 0.02 0.04 0.11 / 1); /* --base00 */
    --color-secondary: color(display-p3 0.92 0.42 0.17 / 1); /* --base12 */
    --color-secondary-accent: color(
      display-p3 0.92 0.42 0.17 / 1
    ); /* --base12 */

    /* Custom vars */
    --color-fg-vibrant: color(display-p3 0.9 0.2 0.68 / 1); /* Keywords */
  }
}

/* Fonts */
@font-face {
  font-family: YoungSerif;
  src: url('static/YoungSerif-Regular.woff2') format('woff2'),
    url('static/YoungSerif-Regular.woff') format('woff');
}

/* Custom styles */
html {
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
  height: 100%; /* note: it's not min! */
  min-height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  /* proper mobile scrollbar locations */
  overflow-y: auto;
  overscroll-behavior: contain;
  padding: 0;
}

main,
footer,
nav {
  max-width: var(--width-content);
}

main,
header,
footer {
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
  padding: 0;
}

header,
footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header {
  max-width: none;
  position: fixed;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 0px;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(24, 24, 27, 0.6);
}

nav {
  margin-bottom: 0;
  width: 100%;
  justify-content: center;
}

nav ul li {
  margin: 0 1.5rem;
}

nav ul li a {
  color: var(--color-fg);
}

main {
  padding: 8rem 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  border-top: 1px solid var(--color-bg-secondary);
}

h1 {
  color: var(--color-fg-light);
  font-family: 'YoungSerif', ui-serif, serif;
}

h2 {
  color: var(--color-fg-vibrant);
}

icon {
  display: inline-flex;
  align-self: center;
}

icon svg,
icon img {
  height: 1em;
  width: 1em;
  fill: currentColor;
  top: 0.125em;
  position: relative;
}

a icon {
  margin-right: 4px;
}
