@charset "utf-8";
@import url('./style.css');

main {
  justify-content: center;
}

main h1 {
  margin: 0;
}

main > p {
  text-align: center;
}

section,
section > * {
  margin-top: 2em;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
}

section aside span:first-of-type {
  font-size: 1.1em;
}

section aside p {
  color: var(--color-text-secondary);
}

section aside span:last-of-type a:first-of-type {
  color: var(--color-text);
  margin-right: 0.5rem;
  font-weight: normal;
}
