:root {
  --border-radius: 5px;
  --box-shadow: 2px 2px 10px;
  --color: #0c8cfe; /* --blue */
  --color-accent: #0c8cfe; /* --blue */
  --color-bg: #060b1b; /* --base00 */
  --color-bg-secondary: rgb(55, 57, 61); /* --base03 */
  --color-secondary: #eb6a2c; /* --base12 */
  --color-secondary-accent: #eb6a2c; /* --base12 */
  --color-shadow: #f4f4f4;
  --color-text: #fff;
  --color-text-secondary: #94a1b2; /* --base04 */
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  --hover-brightness: 1.2;
  --justify-important: center;
  --justify-normal: left;
  --line-height: 1.5;
  --width-card: 285px;
  --width-card-medium: 460px;
  --width-card-wide: 800px;
  --width-content: 640px;

  --color-fg: rgb(152, 152, 157); /* --base05 */
  --color-fg-light: rgb(248, 248, 240); /* --base07 */
  --color-fg-dark: rgb(110, 114, 123); /* --base04 */
  --color-fg-dark-alt: rgb(55, 57, 61); /* --base03 */
  --color-fg-vibrant: #e532ad; /* Keywords */
  --color-purple: #242629;
}

@supports (color: color(display-p3 1 1 1 / 1)) {
  :root {
    --color: color(display-p3 0.05 0.55 1 / 1); /* --blue */
    --color-accent: color(display-p3 0.05 0.55 1 / 1); /* --blue */
    --color-bg: color(display-p3 0.02 0.04 0.11 / 1); /* --base00 */
    --color-secondary: color(display-p3 0.92 0.42 0.17 / 1); /* --base12 */
    --color-secondary-accent: color(
      display-p3 0.92 0.42 0.17 / 1
    ); /* --base12 */
    --color-text: color(display-p3 1 1 1 / 1);

    /* Custom vars */
    --color-fg-vibrant: color(display-p3 0.9 0.2 0.68 / 1); /* Keywords */
  }
}

/*
@media (prefers-color-scheme: dark) {
    :root {
        --color: #0097fc;
        --color-accent: #0097fc4f;
        --color-bg: #333;
        --color-bg-secondary: #555;
        --color-secondary: #e20de9;
        --color-secondary-accent: #e20de94f;
        --color-shadow: #bbbbbb20;
        --color-text: #f7f7f7;
        --color-text-secondary: #aaa;
    }
}
*/

/* Fonts */
@font-face {
  font-family: YoungSerif;
  src: url('static/YoungSerif-Regular.woff2') format('woff2'),
    url('static/YoungSerif-Regular.woff') format('woff');
  font-display: swap;
}

/* Layout */
html {
  height: 100%;
  width: 100%;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family);
  line-height: var(--line-height);
  margin: 0;
  overflow-x: hidden;
  height: 100%; /* note: it's not min! */
  min-height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* proper mobile scrollbar locations */
  overflow-y: auto;
  overscroll-behavior: contain;
  padding: 0;
}

main,
footer,
nav {
  max-width: var(--width-content);
}

main,
header,
footer {
  margin: 0 auto;
  max-width: var(--width-content);
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
  padding: 0;
}

header,
footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

main {
  padding: 8rem 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  border-top: 1px solid var(--color-bg-secondary);
}

hr {
  background-color: var(--color-bg-secondary);
  border: none;
  height: 1px;
  margin: 4rem 0;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: var(--justify-important);
}

section aside {
  background-color: var(--color-purple);
  border-radius: var(--border-radius);
  margin: 0.5rem;
  padding: 1.25rem;
}

section aside:hover {
  box-shadow: var(--box-shadow) var(--color-bg-secondary);
}

section aside img {
  max-width: 100%;
}

article aside {
  background: var(--color-secondary-accent);
  border-left: 4px solid var(--color-secondary);
  padding: 0.01rem 0.8rem;
}

[hidden] {
  display: none;
}

/* Headers */
article header,
div header,
main header {
  padding-top: 0;
}

header {
  text-align: var(--justify-important);
  max-width: none;
  position: fixed;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 0px;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(24, 24, 27, 0.6);
  z-index: 1;
}

header a b,
header a em,
header a i,
header a strong {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

header nav img {
  margin: 1rem 0;
}

section header {
  padding-top: 0;
  width: 100%;
}

/* Nav */
nav {
  align-items: center;
  display: flex;
  font-weight: bold;
  margin-bottom: 0;
  width: 100%;
  justify-content: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 1.5rem;
  position: relative;
  text-align: left;
}

nav ul li a {
  color: var(--color-fg);
}

/* Nav Dropdown */
nav ul li:hover ul {
  display: block;
}

nav ul li ul {
  background: var(--color-bg);
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow) var(--color-shadow);
  display: none;
  height: auto;
  left: -2px;
  padding: 0.5rem 1rem;
  position: absolute;
  top: 1.7rem;
  white-space: nowrap;
  width: auto;
  z-index: 1;
}

nav ul li ul::before {
  /* fill gap above to make mousing over them easier */
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -0.5rem;
  height: 0.5rem;
}

nav ul li ul li,
nav ul li ul li a {
  display: block;
}

/* Typography */
code,
samp {
  background-color: var(--color-accent);
  border-radius: var(--border-radius);
  color: var(--color-text);
  display: inline-block;
  margin: 0 0.1rem;
  padding: 0 0.5rem;
}

details {
  margin: 1.3rem 0;
}

details summary {
  font-weight: bold;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--line-height);
}

h1 {
  color: var(--color-fg-light);
  font-family: 'YoungSerif', ui-serif, serif;
}

h2 {
  color: var(--color-fg-vibrant);
}

mark {
  padding: 0.1rem;
}

ol li,
ul li {
  padding: 0.2rem 0;
}

p {
  margin: 0.75rem 0;
  padding: 0;
}

pre {
  margin: 1rem 0;
  max-width: var(--width-card-wide);
  padding: 1rem 0;
}

pre code,
pre samp {
  display: block;
  max-width: var(--width-card-wide);
  padding: 0.5rem 2rem;
  white-space: pre-wrap;
}

small {
  color: var(--color-text-secondary);
}

sup {
  background-color: var(--color-secondary);
  border-radius: var(--border-radius);
  color: var(--color-bg);
  font-size: xx-small;
  font-weight: bold;
  margin: 0.2rem;
  padding: 0.2rem 0.3rem;
  position: relative;
  top: -2px;
}

/* Links */
a {
  color: var(--color-secondary);
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  filter: brightness(var(--hover-brightness));
  text-decoration: underline;
}

a b,
a em,
a i,
a strong,
button {
  border-radius: var(--border-radius);
  display: inline-block;
  font-size: medium;
  font-weight: bold;
  line-height: var(--line-height);
  margin: 0.5rem 0;
  padding: 1rem 2rem;
}

button {
  font-family: var(--font-family);
}

button:hover {
  cursor: pointer;
  filter: brightness(var(--hover-brightness));
}

a b,
a strong,
button {
  background-color: var(--color);
  border: 2px solid var(--color);
  color: var(--color-bg);
}

a em,
a i {
  border: 2px solid var(--color);
  border-radius: var(--border-radius);
  color: var(--color);
  display: inline-block;
  padding: 1rem 2rem;
}

/* Images */
figure {
  margin: 0;
  padding: 0;
}

figure img {
  max-width: 100%;
}

figure figcaption {
  color: var(--color-text-secondary);
}

/* Forms */
button:disabled,
input:disabled {
  background: var(--color-bg-secondary);
  border-color: var(--color-bg-secondary);
  color: var(--color-text-secondary);
  cursor: not-allowed;
}

button[disabled]:hover {
  filter: none;
}

form {
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow) var(--color-shadow);
  display: block;
  max-width: var(--width-card-wide);
  min-width: var(--width-card);
  padding: 1.5rem;
  text-align: var(--justify-normal);
}

form header {
  margin: 1.5rem 0;
  padding: 1.5rem 0;
}

input,
label,
select,
textarea {
  display: block;
  font-size: inherit;
  max-width: var(--width-card-wide);
}

input[type='checkbox'],
input[type='radio'] {
  display: inline-block;
}

input[type='checkbox'] + label,
input[type='radio'] + label {
  display: inline-block;
  font-weight: normal;
  position: relative;
  top: 1px;
}

input,
select,
textarea {
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
  padding: 0.4rem 0.8rem;
}

input[readonly],
textarea[readonly] {
  background-color: var(--color-bg-secondary);
}

label {
  font-weight: bold;
  margin-bottom: 0.2rem;
}

/* Tables */
table {
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
  border-spacing: 0;
  display: inline-block;
  max-width: 100%;
  overflow-x: auto;
  padding: 0;
  white-space: nowrap;
}

table td,
table th,
table tr {
  padding: 0.4rem 0.8rem;
  text-align: var(--justify-important);
}

table thead {
  background-color: var(--color);
  border-collapse: collapse;
  border-radius: var(--border-radius);
  color: var(--color-bg);
  margin: 0;
  padding: 0;
}

table thead th:first-child {
  border-top-left-radius: var(--border-radius);
}

table thead th:last-child {
  border-top-right-radius: var(--border-radius);
}

table thead th:first-child,
table tr td:first-child {
  text-align: var(--justify-normal);
}

table tr:nth-child(even) {
  background-color: var(--color-accent);
}

/* Quotes */
blockquote {
  display: block;
  font-size: x-large;
  line-height: var(--line-height);
  margin: 1rem auto;
  max-width: var(--width-card-medium);
  padding: 1.5rem 1rem;
  text-align: var(--justify-important);
}

blockquote footer {
  color: var(--color-text-secondary);
  display: block;
  font-size: small;
  line-height: var(--line-height);
  padding: 1.5rem 0;
}

icon {
  display: inline-flex;
  align-self: center;
}

icon svg,
icon img {
  height: 1em;
  width: 1em;
  fill: currentColor;
  top: 0.125em;
  position: relative;
}

a icon {
  margin-right: 4px;
}
